<div class="container">
	<div class="row user-menu-container square">
		<div class="col-md-12 user-details">
			<div class="row coralbg white">
				<div class="col-md-6 no-pad">
					<div class="user-pad">
						<h3>{{task.taskTitle}}</h3>

						<h4 class="white">{{task.taskDescription}}</h4>


					</div>
				</div>
				<div class="col-md-6 no-pad">
					<a href="javascript:void(0)" ng-click="addUserToProject()"
						class="btn-xs btn-primary btn-fab btn-raised mdi-content-create pull-right"></a>
				</div>
				<div class="col-md-6 no-pad">
					<a href="javascript:void(0)" ng-click="addUserToProject()"
						class="btn-xs btn-primary btn-fab btn-raised mdi-action-verified-user pull-right" style="margin-top: 66px;"></a>
				</div>
			</div>
			<div class="row overview">
				<div class="col-md-4 user-pad text-center">
					<h4>Start Date</h4>
					<h4>{{task.startDate | date:"dd/MM/yyyy"}}</h4>
				</div>
				<div class="col-md-4 user-pad text-center">
					<h4>ASSIGNED TO</h4>
					<h4>{{taskUser.userName}}</h4>

				</div>
				<div class="col-md-4 user-pad text-center">
					<h4>End Date</h4>
					<h4>{{task.endDate | date:"dd/MM/yyyy"}}</h4>
				</div>
			</div>

			<div class="row overview"></div>
		</div>

	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>User Comments</h3>
		</div>
		<!-- /col-sm-12 -->
	</div>
	<!-- /row -->
	<div class="row">
		<div class="col-sm-1">
			<div class="thumbnail">
				<img class="img-responsive user-photo"
					src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			</div>
			<!-- /thumbnail -->
		</div>
		<!-- /col-sm-1 -->

		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>lltpuser</strong> <span class="text-muted">commented
						5 days ago</span>
				</div>
				<div class="panel-body">Need to add Bootstrap Framework</div>
				<!-- /panel-body -->
			</div>
			<!-- /panel panel-default -->
		</div>
		<!-- /col-sm-5 -->
	</div>
	<!-- /row -->
		<!-- /row -->
	<div class="row">
		<div class="col-sm-1">
			<div class="thumbnail">
				<img class="img-responsive user-photo"
					src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			</div>
			<!-- /thumbnail -->
		</div>
		<!-- /col-sm-1 -->

		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong>lltpuser2</strong> <span class="text-muted">commented
						2 days ago</span>
				</div>
				<div class="panel-body">I have already added. Please take fresh checkout</div>
				<!-- /panel-body -->
			</div>
			<!-- /panel panel-default -->
		</div>
		<!-- /col-sm-5 -->
	</div>
	<!-- /row -->
	
	<div class="panel-google-plus-comment">
                    <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image">
                    <div class="panel-google-plus-textarea">
                        <textarea rows="4" ng-model="comment.commentText"></textarea>
                        <button type="submit" class="[ btn btn-success ]" ng-click="postComment();">Post comment</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

</div>
<!-- /container -->

